<!--Row -->
<div class="row">

  <!-- Title Column -->
  <div class="col--title">
    <div class="cell cell--title">
      <img src="../../assets/icon-buffer-box.png" />
      <a>{{ topic.title }}</a>
    </div>
  </div>

  <!-- Status Column -->
  <div class="col--status">
    <div class="cell cell--status">
      <div class="status-pill" [ngClass]="{'status--needhelp': topic.status === 'Need help',
                                           'status--ontrack' : topic.status === 'On track',
                                           'status--offtrack': topic.status === 'Off track'}">
        <img src="../../assets/transparent-icon.png"/>
        <a>{{ topic.status }}</a>
      </div>
    </div>
  </div>
</div>