.table__header {
  display: flex;
  width: 763px;
  background: white;
  height: 64px;
  align-items: center;
  border: solid 1px #f3f6f8;
}

.col--title {
  padding: 6px 16px 6px 16px;
  width: 539px;
  height: fit-content;
}

.col--status {
  width: 224px;
}

.header__button {
  border: none;
  border-radius: 100px;
  padding: 6px 16px 6px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #212132;
  background: none;
  font-size: 16px;
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button--inactive {
    color: #212132;
}

.button--active {
  background: #F1F5F7;
}


