.pagination {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.pagination__range {
  display: flex;
  gap: 24px;
  align-items: center;
}

.pagination__range-selector {
  color: var(--black);
  width: 64px;
  font-size: 16px;
  height: 40px;
  background: none;
  border: none;
  font-family: var(--font-main);
  border-bottom: 1px solid #7397AB;
  option {
    background: none;
  }
}

.pagination__range__caption {
  color: var(--black-alpha-60)
}

.pagination__page-selector {
  position: relative;
  display: flex;
  gap: 8px;
  right: -46px;
}
.pagination__page-selector--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  background: #E3EAEE;
  width: 32px;
  height: 32px;
  color: #3E5F72;
  &:selected {
    color: #212132;
  }
}