<p>topic-pagination works!</p>
<div class="bottom-bar">
  <div class="range-selector">
    <select class="topics-list-range" name="topics-list-range">
      <option selected="selected" value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    <p>Items per page</p>
  </div>
  <div class="pages">
    <div class="page"><a>←</a></div>
    <div class="page"><a>2</a></div>
    <div class="page"><a>3</a></div>
    <div class="page"><a>4</a></div>
    <div class="page"><a>→</a></div>
  </div>
</div>
