.page__content {
  margin: auto;
  display: flex;
  padding: 6px 16px 6px 16px;
  height: 64px;
  align-items: center;
}

.page__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 28px;
}


.page__table {
  margin: auto;
  padding: 24px;
  width: 763px;
  font-size: 16px;
  line-height: 24px;
}

.table__row {
  display: flex;
  min-width: 763px;
  background: white;
}

