:root {
  --graphite-alpha-gray-10: #F1F5F7;
  --graphite-alpha-gray-20: #E3EAEE;
  --graphite-dark: #3E5F72;
  --black: #212132;
  --black-alpha-10: #2121321A;
  --black-alpha-60: #21213299;
  --white: #FFF;
  --green-secondary-10: #F2F7DA;
  --green-secondary: #C5DE5D;
  --red-10: #FFE6EB;
  --red-error: #FF525C;
  --font-main: 'PT Sans', sans-serif;
  --font-header: Verdana, Geneva, Tahoma, sans-serif;
}