@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import './shared/css/variables';
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-main);
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #3E5F72;
}
body {
  background: hsl(200, 27, 96%);
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  width: 16px;
  height: 16px;
}
